<footer class="bg-[#EEEEEE] py-16">
  <div class="container ">


    <div class="footer__header mb-6">
      <h2 class="footer__title text-2xl mb-1 text-black ">Get The FreshCart App</h2>
      <p class="footer__description text-[#6b7280]">
        We will send you a link, open it on your phone to download the app.
      </p>
    </div>


    <div class="footer__subscription flex flex-wrap items-center gap-3 sm:gap-0 justify-between mb-5">
      <input
        type="email"
        placeholder="Email.."
        class="px-2 py-1 w-full sm:w-[75%] md:w-[79%] lg:w-[83%] bg-white placeholder-secondary font-medium border border-[#d1d5db] focus:outline-1 focus:outline-main rounded-md"
      />
      <button class=" cursor-pointer w-full sm:w-[23%] md:w-[19%] lg:w-[16%]  text-white bg-main hover:bg-[#088008] transition px-2 py-1 rounded-md">Share App Link</button>
    </div>


    <div class="footer__payment py-4 mb-5 text-center border-y block lg:flex lg:justify-between lg:items-center border-[#d1d5db]">

      <div class="payment__partners flex gap-5 justify-center items-center lg:justify-start mb-3">
        <p class="font-medium">Payment Partners</p>
        <div class="partners__images flex gap-3 items-center">
          <img src="./images/partenrs/amazonpay-DDt8kHan.svg" class="" alt="" />
          <img src="./images/partenrs/american-express-F7V82bnT.svg" alt="" />
          <img src="./images/partenrs/mastercard-CokDZD99.svg" alt="" />
          <img src="./images/partenrs/download (1).svg" alt="" />
          <img src="./images/partenrs/download.svg" alt="" />
        </div>
      </div>


      <div class="deliveries block lg:flex lg:justify-between lg:items-center lg:gap-7">
        <p class="font-medium mb-3 lg:m-0">Get deliveries with FreshCart</p>
        <div class="deliveries__images flex justify-center items-center gap-3">
          <img src="./images/partenrs/googleplay-btn-CwMI-V7g.svg" alt="" />
          <img src="./images/partenrs/appstore-btn-TmL4qmIb.svg" alt="" />
        </div>
      </div>

    </div>


    <div class="footer__ending text-secondary block lg:flex lg:items-center lg:justify-between text-sm font-medium">
      <div class="ending__description mb-3">
        <p class="footer__copywrite">
          © 2022 - 2024 FreshCart e-Commerce HTML Template. All rights reserved.
        </p>
        <p>
          Powered by <span class="text-main"><a href="#">Codescandy</a></span>
        </p>
      </div>
      <div class="ending__social flex items-center gap-3">
        <p>Follow Us on</p>
        <div class="flex gap-2">

            <a href="#" class="p-1 rounded-md border text-secondary transition duration-200 hover:text-main hover:border-main border-secondary">
              <i class="fa-brands text-base  fa-facebook "></i>
            </a>
            <a href="#" class="p-1 rounded-md border text-secondary transition duration-200 hover:text-main hover:border-main border-secondary">
              <i class="fa-brands text-base  fa-twitter "></i>
            </a>
            <a href="#" class="p-1 rounded-md border text-secondary transition duration-200 hover:text-main hover:border-main border-secondary">
              <i class="fa-brands text-base  fa-instagram "></i>
            </a>

         
        </div>
      </div>
    </div>
  </div>
</footer>
