<form
  [formGroup]="registerForm"
  (ngSubmit)="register()"
  class="w-[60%] my-6 grid grid-cols-2 gap-7 justify-center px-6 py-10 mx-auto border border-slate-200 bg-slate-100 rounded-lg"
>
  <!-- Form Header -->
  <div class="col-span-2">
    <h2 class="text-2xl text-main mb-1.5">Register Form</h2>
    <p class="text-slate-500">Let's start our Journey together.</p>
  </div>

  <!-- Server Error Message -->
  @if (apiError) {
    <p class="col-span-2 bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-lg">
      {{ apiError }}
    </p>
  }

  <!-- User Name Input -->
  <hlm-form-field class="col-span-2">
    @let nameControl = registerForm.get('name');
    <input
      class="bg-white focus-visible:border-main focus-visible:ring-main/30 [&.ng-invalid.ng-touched]:focus-visible:border-destructive [&.ng-invalid.ng-touched]:focus-visible:ring-destructive/30"
      hlmInput
      formControlName="name"
      type="text"
      placeholder="UserName"
    />

    @if (nameControl?.errors && nameControl?.touched) {
      @if (nameControl?.getError('required')) {
        <hlm-error>The name is required.</hlm-error>
      } @else if (nameControl?.getError('maxlength')) {
        <hlm-error>Max Length is 20</hlm-error>
      } @else if (nameControl?.getError('minlength')) {
        <hlm-error>Min Length is 3</hlm-error>
      }
    }
  </hlm-form-field>

  <!-- Email Input -->
  <hlm-form-field class="col-span-2">
    @let emailControl = registerForm.get('email');
    <input
      class="bg-white focus-visible:border-main focus-visible:ring-main/30 [&.ng-invalid.ng-touched]:focus-visible:border-destructive [&.ng-invalid.ng-touched]:focus-visible:ring-destructive/30"
      hlmInput
      formControlName="email"
      type="email"
      placeholder="Email"
    />

    @if (emailControl?.errors && emailControl?.touched) {
      @if (emailControl?.getError('required')) {
        <hlm-error>The email is required.</hlm-error>
      } @else if (emailControl?.getError('pattern')) {
        <hlm-error>Invalid Email Format</hlm-error>
      }
    }
  </hlm-form-field>

  <!-- Password Input -->
  <hlm-form-field class="col-span-1 relative">
    @let passwordControl = registerForm.get('password');
    <input
      class="bg-white focus-visible:border-main focus-visible:ring-main/30 [&.ng-invalid.ng-touched]:focus-visible:border-destructive [&.ng-invalid.ng-touched]:focus-visible:ring-destructive/30"
      hlmInput
      formControlName="password"
      [type]="passwordEye ? 'text' : 'password' "
      placeholder="Password"
    />
    <!-- Show Password -->
    <span
      class="absolute top-1.5 right-3 text-slate-500 cursor-pointer"
      (click)="toggleShowPassword()"
    >
      @if (!passwordEye) {
        <i class="fa fa-eye text-sm"></i>
      } @else {
        <i class="fa fa-eye-slash text-sm"></i>
      }
    </span>
    @if (passwordControl?.errors && passwordControl?.touched) {
      @if (passwordControl?.getError('required')) {
        <hlm-error>The Password is required.</hlm-error>
      } @else if (passwordControl?.getError('pattern')) {
        <hlm-error>Invalid Password Format</hlm-error>
      }
    }
  </hlm-form-field>

  <!-- RePassword Input -->
  <hlm-form-field class="col-span-1">
    @let rePasswordControl = registerForm.get('rePassword');
    <input
      class="bg-white focus-visible:border-main focus-visible:ring-main/30 [&.ng-invalid.ng-touched]:focus-visible:border-destructive [&.ng-invalid.ng-touched]:focus-visible:ring-destructive/30"
      hlmInput
      formControlName="rePassword"
      type="password"
      placeholder="Password Confirmation"
    />

    @if (
      rePasswordControl?.touched && (rePasswordControl?.errors || registerForm.getError('misMatch'))
    ) {
      @if (rePasswordControl?.getError('required')) {
        <hlm-error>The Password is required.</hlm-error>
      } @else if (registerForm.getError('misMatch')) {
        <hlm-error>Password MisMatch</hlm-error>
      }
    }
  </hlm-form-field>

  <!-- Phone Input -->
  <hlm-form-field class="col-span-2">
    @let phoneControl = registerForm.get('phone');
    <input
      class="bg-white focus-visible:border-main focus-visible:ring-main/30 [&.ng-invalid.ng-touched]:focus-visible:border-destructive [&.ng-invalid.ng-touched]:focus-visible:ring-destructive/30"
      hlmInput
      formControlName="phone"
      type="tel"
      placeholder="Phone Number"
    />

    @if (phoneControl?.errors && phoneControl?.touched) {
      @if (phoneControl?.getError('required')) {
        <hlm-error>The phone is required.</hlm-error>
      } @else if (phoneControl?.getError('pattern')) {
        <hlm-error>Invalid phone Format</hlm-error>
      }
    }
  </hlm-form-field>

  <!-- Submit Button -->
  <button
    type="submit"
    [disabled]="isCallingApi()"
    class="myBtn col-span-2 mt-5 disabled:cursor-not-allowed disabled:bg-main disabled:opacity-65"
  >
    @if (isCallingApi()) {
      <i class="fa fa-spin fa-spinner mr-2"></i>Submit
    } @else {
      Submit
    }
  </button>
</form>
